{% load static %}
      <!--Footer-->
      <footer class="section footer-classic section-sm">
        <div class="container">
          <div class="row row-30">
            <div class="col-lg-3 wow fadeInLeft">
              <!--Brand--><a class="brand" href="{% url 'core:home' %}"><img class="brand-logo-dark" src="{% static 'images/logo-default-200x34.png' %}" alt="" width="100" height="17"/><img class="brand-logo-light" src="{% static 'images/logo-default-200x34.png' %}" alt="" width="100" height="17"/></a>
              <p class="footer-classic-description offset-top-0 offset-right-25">To provide justice to those who need it, solve the crime and do impossible actions within the bounds of the law.</p>
            </div>
            <div class="col-lg-3 col-sm-8 wow fadeInUp">
              <P class="footer-classic-title">contact info</P>
              <div class="d-block offset-top-0">Sage Security Services, No 22 Kano street, FCT - Abuja, Nigeria</span></div><a class="d-inline-block accent-link" href="mailto:#">inquiry@sageserv.tech</a><a class="d-inline-block" href="tel:#">+234-913-895-5830</a>
              <ul>
                <li>Mon-Thu:<span class="d-inline-block offset-left-10 text-white">8:00 AM - 8:00 PM</span></li>
                <li>Fri:<span class="d-inline-block offset-left-10 text-white">10:00 AM - 8:00 PM</span></li>
              </ul>
            </div>
            <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay=".3s">
              <P class="footer-classic-title">Quick Links</P>
              <ul class="footer-classic-nav-list">
                <li><a href="{% url 'core:home' %}">Home</a></li>
                <li><a href="{% url 'core:about' %}">About us</a></li>
                <li><a href="{% url 'core:service' %}">Services</a></li>
                <li><a href="{% url 'core:contact' %}">Contacts</a></li>
              </ul>
            </div>
            <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".2s">
              <P class="footer-classic-title">newsletter</P>
              <form class="rd-mailform text-left footer-classic-subscribe-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap">
                  <label class="form-label" for="subscribe-email">Your Email Address</label>
                  <input class="form-input" id="subscribe-email" type="email" name="email" data-constraints="@Email @Required">
                </div>
                <div class="form-button group-sm text-center text-lg-left">
                  <button class="button button-primary button-circle" type="submit">sign up</button>
                </div>
              </form>
              <p>Be the first to find out about our latest news, updates, and special offers.</p>
            </div>
          </div>
        </div>
        <div class="container wow fadeInUp" data-wow-delay=".4s">
          <div class="footer-classic-aside">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. Design by <a href="#">SageSERV</a></p>
            <ul class="social-links">
              <li><a class="fa fa-linkedin" href="#"></a></li>
              <li><a class="fa fa fa-twitter" href="#"></a></li>
              <li><a class="fa fa-facebook" href="#"></a></li>
              <li><a class="fa fa-instagram" href="#"></a></li>
            </ul>
          </div>
        </div>
      </footer>