{% extends "base.html" %}
{% load static %}
{% block content %}

      <section class="section section-intro context-dark">
        <div class="intro-bg" style="background: url(images/intro-bg-2.jpg) no-repeat;background-size:cover;background-position: top center;"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
              <h1 class="font-weight-bold wow fadeInLeft">FIND MY PHONE</h1>
              <p class="intro-description wow fadeInRight">Find my phone</p>
            </div>
          </div>
        </div>
      </section>
      <!--Base typography -->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 flex-lg-row-reverse">
            <div class="col-xl-4">
              <ul class="list-md">
               
              </ul>
            </div>
            <div class="col-xl-8">
              <ul class="list-xl">
                  <h3>Device Identity</h3>
                  <p>Just input the IMEI and get information about any device, see all device specifications, stolen report status, network lock status, sim-lock check, and Mobile IP Blacklist Check.</p>
                  <p>The GSMA maintains a unique system known as the International Mobile Equipment Identity Database, use it to check for device specifications and other details about any mobile phone.</p>
                </li>
                <li> <div class="form-button group-sm text-center text-lg-left">
                    <a href="https://osintframework.com/"> <button class="button button-primary" type="submit">Try Now</button></a>
                  </div></li>
                <li>
                  <h3>Use find my phone Android and iPhone</h3>
                  <p>Find my iPhone: https://www.icloud.com/find</p>
                  <p>Find, lock, or erase a lost Android device</p>
                  <p>If you lose an Android phone or tablet or Wear an OS watch, you can find, lock, or erase it. If you've added a Google Account to your device, Find My Device is automatically turned on. <a href="https://support.google.com/android/answer/3265955"> Learn how to make sure that your device can be found if it gets lost.</a>

                    To find, lock, or erase an Android phone, that phone must:</p>
                  
                         <ul class="list-marked">
                            <li>Be turned on</li>
                            <li>Be signed in to a Google Account</li>
                            <li>Be connected to mobile data or Wi-Fi</li>
                            <li>Be visible on Google Play</li>
                            <li>Have Location turned on</li>
                            <li>Have Find My Device turned on</li>
                          </ul>
                          <p>If you used your lost phone for 2-step verification, you must have a <a href="https://support.google.com/accounts/answer/1188780">  backup phone</a> or <a href="https://support.google.com/accounts/answer/1187538"> backup code.</a></p>
                        
              
                  <p>Remotely find, lock, or erase</p>
                  <ol class="list-ordered">
                    <li>Go to
                        <a href="https://support.google.com/nexus/answer/2865483">  android.com/find </a> and sign in to your Google Account.
                       <ul class="list-marked">
                        <li>If you have more than one phone, click the lost phone at the top of the screen.</li>
                        <li>If your lost phone has more than one user profile, sign in with a Google Account that's on the main profile.<a href="https://support.google.com/nexus/answer/2865483">  Learn about user profiles.</a></li>
                      </ul></li>
                    <li>The lost phone gets a notification.</li>
                    <li>On the map, you'll get info about where the phone is.
                        <ul class="list-marked">
                            <li>The location is approximate and might not be accurate.</li>
                            <li>IIf your phone can't be found, you'll see its last known location, if available.</li>
                          </ul></li>
                          <li>Pick what you want to do. If needed, first click Enable lock & erase. 
                          <ul class="list-marked">
                            <li>Play sound: Rings your phone at full volume for 5 minutes, even if it's set to silent or vibrate.</li>
                            <li>Secure device: Locks your phone with your PIN, pattern, or password. If you don't have a lock, you can set one. To help someone return your phone, you can add a message or phone number to the lock screen.</li>
                            <a>Erase device: Permanently deletes all data on your phone (but might not delete SD cards). After you erase it, Find My Device won't work on the phone.
                                Important: If you find your phone after erasing, you'll likely need your Google Account password to use it again. <a href="https://support.google.com/android/answer/9459346?visit_id=638035498177369454-3197538617&rd=1"> Learn about device protection. </a>  </li>
                          </ul></li>
                        </ol>
                        <br>
                          <h4>Find with an app</h4>
                          <ol class="list-ordered">
                        <li>On another Android phone or tablet, open the Find My Device app.
                                If the other device doesn't yet have the app, <a href="https://accounts.google.com/ServiceLogin/signinchooser?passive=1209600&osid=1&continue=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.google.android.apps.adm&followup=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.google.android.apps.adm&authuser=0&ifkv=ARgdvAu64Uo7pTo1AIFzsZT6dy1lZFSy_3pXTjzsS2oSDOXTspQdZgsbGHTe0q1m5FiCUzASUWbARg&flowName=GlifWebSignIn&flowEntry=ServiceLogin"> get it on Google Play.</a></li>
                          <li>Sign in.
                            <ul class="list-marked">
                                <li>If your own device is lost, tap Continue as [your name].</li>
                                <li>If you're helping a friend, tap Sign in as a guest and let your friend sign in.</li>
                                <li>IFollow the same steps as listed above. <a href="https://support.google.com/accounts/answer/6160491?hl=en#web"> Continue to steps.</a></li>
                                <li>Find with your Wear OS watch</li>
                                <p>If you lose your phone or tablet that’s connected to a Wear OS smartwatch, you may be able to find it with your watch. Learn how to find your phone with your watch.</p>
                              <br>
                               <h4>How Find My Device handles your data</h4>  
                              <p>Google collects certain information to help you find a lost Android device. Some of this functionality uses Google Play services. For example, Find My Device collects:</p>
                              <ul class="list-marked">
                                <li>Approximate and precise locations and device or other identifiers for service functionality purposes.</li>
                                <li>Personal identifiers for service functionality, fraud prevention, security, and compliance purposes. We use these identifiers to associate your Android devices to your account.</li>
                              </ul>
                              <p>The data that Find My Device collects is encrypted in transit. You can delete all devices and their locations through the Find My Device app.</p>
                            </ul></li>
                          </ol>   
                  </ol>
              </ul>
            </div>
          </div>
        </div>
      </section>
 
    
        {% endblock content %}