{% extends "base.html" %}
{% load static %}
{% block content %}

      <section class="section section-intro context-dark">
        <div class="intro-bg" style="background: url(images/intro-bg-2.jpg) no-repeat;background-size:cover;background-position: top center;"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
              <h1 class="font-weight-bold wow fadeInLeft">Resources</h1>
              <p class="intro-description wow fadeInRight">Lots of Customization Options</p>
            </div>
          </div>
        </div>
      </section>
      <!--Base typography -->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 flex-lg-row-reverse">
            <div class="col-xl-4">
                <ul class="list-md">
                    <li>
                      <h3>OISNT TOOLS</h3>  
                      <p>There are just too many records and data to go through. Thankfully, many tools have been created to automate and speed up the process</p>
                
                    </li>
                    <li> <div class="form-button group-sm text-center text-lg-left">
                        <a href="https://osintframework.com/"> <button class="button button-primary" type="submit">Try Now</button></a>
                      </div></li>
                      <li>   <br></li>
                      <li>
                        <h3>SAGE-ARMADA</h3>  
                        <p>Have you or a client ever lost bitcoin as a result of a phishing, ransomware, fraudulent ICO, or fraudulent investment? Have you been compromised? We'll assist.</p>
                  
                      </li>
                      <li> <div class="form-button group-sm text-center text-lg-left">
                          <a href="https://osintframework.com/"> <button class="button button-primary" type="submit">Get Statred</button></a>
                        </div></li>
                    
                  </ul>
            </div>
            <div class="col-xl-8">
              <ul class="list-xl">
                <li>
                  <h1>Sage Serv can Help</h1>
                  <p>Senior forensic financial investigators at Sageserv have a wealth of knowledge performing comprehensive, challenging investigations. Our in-house developed program finds connections between cryptocurrency addresses, bank accounts, and other entities like criminals, dark marketplaces, mixers, and on- and off-ramps.</p>
                  <p>Our hired services can produce evidence that can be used as actionable intelligence in legal proceedings including money laundering, drug trafficking, financing of terrorism, ransomware, and other crimes. Our team delivers written, in-depth reports on the investigations it has carried out, which have been used and supported in court. When it's time to prosecute and collect assets, our expert witness services might be helpful in court.</p>
                  <p>Additionally, Sageserv provides free investigations through the Defenders League, a team of volunteers from colleges and universities all around the world who have been trained to find money stolen or lost in cryptocurrency fraud. Law enforcement is forced to concentrate on major, high-profile cases as a result of the upward trend of rising crypto theft, scams, and fraud, while victims of "minor" losses are frequently left to fend for themselves.</p>
                  <p> However, these “smaller” losses can add up to big numbers, damaging trust in the industry. This is why the Sageserv Defenders League’s services are available pro bono, as it marks a significant step forward toward Sageserv's primary goal of making the internet a safe, trusted, and broadly adopted asset class.</p>
                </li>
               
              </ul>
            </div>
          </div>
        </div>
      </section>
     
        {% endblock content %}