{% extends "base.html" %}
{% load static %}
{% block content %}

      <section class="section section-intro context-dark">
        <div class="intro-bg" style="background: url(static/images/intro-bg-2.jpg) no-repeat;background-size:cover;background-position: top center;"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
              <h1 class="font-weight-bold wow fadeInLeft">Service</h1>
              <p class="intro-description wow fadeInRight">Simple and Scalable Penetration Testing</p>
            </div>
          </div>
        </div>
      </section>
    
     
      <!--Ordered List-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-xl-8">
              <h3>What makes us the best?</h3>
              <p>Sage Serv delivers comprehensive Penetration Testing as a Service (PTAAS) powered by Certified Hackers and AI-Powered  solving the problems of scalability and cost within an agile, DevOps-ready SaaS platform.</p>
            </div>
          </div>
        </div>
      </section>
      <!--Icon List-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30">
            <div class="cell-xs-10 col-md-6 col-lg-4">
                <article class="box-minimal">
                  <figure class="figure-light offset-top-30"><img class="img-centered" src="{% static 'images/single-service-1-770x414.jpg' %}" alt="" width="770" height="207"/>
                  <h4 class="box-minimal-title">CAR TRACKING</h4>
                  <div class="box-minimal-text">
                    <p>To make car monitoring in Nigeria simpler, SageSERV employs a clever AI telematics system. With minimum data costs, manage and monitor your fleet or car remotely. Get the best automobile tracking software/hardware today. We also help with car theft tracing for security organizations and anyone looking for lost or stolen cars.</p>
                  </div>
                </article>
              </div>
           
            <div class="cell-xs-10 col-md-6 col-lg-4">
              <article class="box-minimal">
                <figure class="figure-light offset-top-30"><img class="img-centered" src="{% static 'images/single-service-2-770x414.jpg' %}" alt="" width="770" height="207"/>
                <h4 class="box-minimal-title">STOLEN CRYPTOTRACE</h4>
                <div class="box-minimal-text">
                  <p>Our analysts on the ground will evaluate criminal data and cryptocurrency movements from the point of compromise to the end destination, wherever it may be. We are partnered with Cipher trace (MASTERCARD) and committed to the tracing and recovery of crypto assets.</p>
                </div>
              </article>
            </div>
            <div class="cell-xs-10 col-md-6 col-lg-4">
              <article class="box-minimal">
                <figure class="figure-light offset-top-30"><img class="img-centered" src="{% static 'images/single-service-3-770x414.jpg' %}" alt="" width="770" height="207"/>
                <h4 class="box-minimal-title">FIND MY DEVICE</h4>
                <div class="box-minimal-text">
                  <p>In Nigeria, mobile devices are stolen daily, and many of these theft problems go unresolved because 70% of these cases go unreported. With simply your IMEI, we can pinpoint the location of your stolen mobile device for a reasonable fee, and we offer a round-the-clock service.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30">
            <div class="cell-xs-10 col-md-6 col-lg-4">
                <article class="box-minimal">
                  <figure class="figure-light offset-top-30"><img class="img-centered" src="{% static 'images/single-service-4-770x414.jpg' %}" alt="" width="770" height="207"/>
                  <h4 class="box-minimal-title">ATTP</h4>
                  <div class="box-minimal-text">
                    <p>The Anti-Money Laundering Trace Protocol was created in collaboration with Pegasus to combat terrorism and the laundering of criminally obtained money.</p>
                  </div>
                </article>
              </div>
            <div class="cell-xs-10 col-md-6 col-lg-4">
              <article class="box-minimal">
                <figure class="figure-light offset-top-30"><img class="img-centered" src="{% static 'images/single-service-5-770x414.jpg' %}" alt="" width="770" height="207"/>
                <h4 class="box-minimal-title">Combined experience & expertise</h4>
                <div class="box-minimal-text">
                  <p>We bring in the combined experience and expertise of the best ethical cyber security experts in the industry  employing the best assessment tools.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
     
        {% endblock content %}